{% load static %}

<!DOCTYPE html>
<html lang="cs">

<head>
   
    {% block title %}<title>Výsledkový servis</title>{% endblock %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
{% include "navigation.html" %}


    {% block content %}

    <h1>INFORMACE NA ÚVOD </h1>
    <h2>Tato aplikace byla vytvořené pro registraci závodníků, pro jejich zobrazení a výpis informací.</h2>

    {% endblock %}


{% include "footer.html" %}

</body>
</html>