<ul>
    <li><a href="/">Úvod</a></li>
    <li><a href="/all-racer/">Závodníci</a></li>
    <li><a href="/all-zavod/">Závody</a></li>
</ul>

<ul>
    {% if user.is_authenticated %}
    <li>User: {{ user.get_username }}
    
        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </li>
    {% else %}
    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
    {% endif %}
</ul>